<!-- ./views/show.handlebars -->
<h1 class="mb-1 restaurant-show-title">{{restaurant.name}}</h1>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">

      <p class="mb-1">
        <span class="text-secondary">
          <i class="bi bi-egg-fried pr-2"></i>
          類別：
        </span>
        {{restaurant.category}}
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="bi bi-geo"></i>
          地址：
        </span>
        {{restaurant.location}}
        <a href="{{restaurant.google_map}}" class="text-secondary" target="_blank">
          <i class="bi bi-map"></i>
        </a>
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="bi bi-phone"></i>
          電話：
        </span>
        {{restaurant.phone}}
      </p>

      <p class="mb-5">
        {{restaurant.description}}
      </p>

      <img class="rounded mx-auto d-block mb-4 w-100" src="{{restaurant.image}}" alt="{{restaurant.name}}"
        style="max-width: 600px;">

      <a href="/restaurant/{{ restaurant._id }}/edit">edit</a>
      <a href="/">back</a>
      <form action="/restaurant/{{ restaurant.id }}/delete" method="POST" style="display: inline;">
        <button class="delete-btn btn btn-danger m-3">delete</button>
      </form>
    </div>
  </div>
</div>